body {
    margin : 5px;
    background-color: #ffeac5f3;
    margin: 10px;
    color: #613333;
    transition: background-color 0.5s ease, 0.5s ease;
}
* {
    font-family: 'Inter';
}

nav {
    display: flex;
    justify-content: right;
    padding-right: 10px;
}

#night-mode-icon {
    cursor: pointer;
}

.title {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px;
}

h1 {
    font-size: 2em;
    font-weight: 600;
}
h2 {
    font-size: 1rem;
}

h1, h2 {
    margin: 5px 0;
}

h3 {
    text-decoration:#613333 underline;
    text-transform: uppercase;
}
#social-icons {
    margin: 0;
    display: flex;
    flex-direction: row;
    fill :#613333
}

svg {
    padding: 0 10px 0 0;
}
ul {
    padding-left: 0;
}
li {
    list-style: none;
}
section {
    margin: 80px 0;
    padding-right:20px;
}
.projet {
    margin-top: 50px;
}

/******* NIGHT MODE******/

body.is-night {
    background-color: #613333 !important;
    color:#ffeac5f3 !important ;
}

body.is-night #social-icons {
    fill: #ffeac5f3;
}

body.is-night h3 {
    text-decoration: #ffeac5f3 underline;
}