body {
    margin : 0;
    background-color: #ffeac5f3;
}
main {
    margin: 10px auto;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: right;
}

h1, h2, h3, h4 {
    color: #6C4E31;
    font-family: 'Inter',serif;
}

svg, a {
    color: #ffffff;
}

p {
    color: #6C4E31;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section {
    margin: 15vw 0;
    border:#835a33 solid 0.1px;
    box-shadow: #6C4E31 1px 1px 5px;
    border-radius: 8px;
    padding: 5vw;
}

.projet {
    margin: 10vw 0;
}